.blur-menu{
	text-align: right;
}

.blur-menu h2{
	color: white;
	font-family:"Roboto";
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 15px;
	font-size: 50px;
	margin: 0;
	padding: 30px;
}

.blur-menu a{
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
	color: inherit;
	text-decoration: inherit;
	transition-duration: 0.5s;
}

.blur-menu a:hover{
	-webkit-filter: blur(0);
	-moz-filter: blur(0);
	-ms-filter: blur(0);
	-o-filter: blur(0);
	filter: blur(0);
	transition-duration: 0.5s;
}
